* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Refinery, ui-sans, system-ui, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fff;
    overflow: hidden;
}

.need-box {
    border: solid 3px #ccc;
    height: 50vh;
    /* align items in the box */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll;
    gap: 10px;
}

.want-box {
    border: solid 3px #ccc;
    height: 10vh;
    /* align items in the box */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: scroll;
    gap: 10px;
}

.items-box {
    border: solid 3px #ccc;
    display: grid;
    grid-template-columns: repeat(auto-fill, 5.5vw);
    grid-template-rows: repeat(auto-fill, 5.5vw);
    grid-auto-flow: row;
    overflow: scroll;    
    gap: 0px;
    height: 70vh;
    justify-content: space-evenly;
}


.drag-over {
    border: dashed 3px red;
}

.item {
    height: 5.5vw;
    width: 5.5vw;
    /*background-color: #F0DB4F; */

}

.hide {
    display: none;
}

.flex-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.add-button {
    background-color: #28f093;
    border: 1px;
    width: 1.5vw;
    height: 1.5vw;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    border-radius: 50%;
  }

.subtract-button {
    background-color: #f73c3c;
    border: 1px;
    width: 1.5vw;
    height: 1.5vw;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    border-radius: 50%;
  }